<%- include('includes/head.ejs')%>
<h1>Users</h1>
<% if (users.length > 0){%>
<%for(let user of users){%>
<%=user.name%>
<%}%>
<%} else {%>
<h1>No users found!</h1>
<%}%>
<%- include('includes/end.ejs')%>
